
body {
  background-color: #c6c6c6;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.container {
    background-color: #fff;
    padding: 30px;
    margin: 10vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pic>img {
    width: 120px;
    height: 120px;
    background-color: red; 
}

button {
    background-color: red;
    color: #fff;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 24px;

}